:root {
  --min-size: 14;
  --max-size: 20;
  --min-width: 720;
  --min-ratio: 1.1;
  --max-ratio: 1.2;
  --color-purple: #292961;
  --color-project: #f3e5f5;
  --color-grey: #fafafa;
  --color-border: #e5e5e5;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
