<script>
  import { Grid, Card } from "fvscl";
  import Header from "./Header.svelte";
  import Aside from "./Aside.svelte";
  import Breadcrumb from "./Breadcrumb.svelte";
  import Overview from "./Overview.svelte";
  import LatestCommit from "./LatestCommit.svelte";
  import Files from "./Files.svelte";
</script>

<style>
  div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "header header" "aside main";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
  }
  header {
    position: sticky;
    top: 0;
    grid-area: header;
  }
  aside {
    grid-area: aside;
    background: var(--color-grey);
    box-shadow: inset -1px 0 0 var(--color-border);
  }
  main {
    grid-area: main;
    padding: var(--gap);
    background: white;
  }
</style>

<div>
  <header>
    <Header />
  </header>

  <aside>
    <Aside />
  </aside>
  <main>
    <Grid density="tight">
      <Breadcrumb />
      <Overview />
      <LatestCommit />
      <Files />
    </Grid>
  </main>
</div>
