<script>
  import { List, ListItem, Heading } from "fvscl";
</script>

<style>
  .wrapper {
    padding: var(--gap);
  }
  .project {
    display: flex;
    align-items: center;
  }
  span {
    display: flex;
    align-items: center;
  }
  img {
    height: var(--font-size-base);
  }
  .project span {
    justify-content: center;
    height: var(--space-4);
    width: var(--space-4);
    background-color: var(--color-project);
    margin-right: var(--space-0);
    border-radius: var(--border-radius-base);
  }
</style>

<div class="wrapper">
  <div class="project">
    <span>F</span>
    <Heading level="6" margin="none">FVSCL</Heading>
  </div>
  <List density="tight">
    <ListItem>
      <span>
        <img src="icons/home.svg" alt="Home" />
        &nbsp; Project Overview
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/file.svg" alt="Home" />
        &nbsp; Repository
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/file-shredder.svg" alt="Home" />
        &nbsp; Issues
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/git-merge.svg" alt="Home" />
        &nbsp; Merge Requests
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/plane-departure.svg" alt="Home" />
        &nbsp; CI / CD
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/shield.svg" alt="Home" />
        &nbsp; Security & Compliance
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/cloud-storm.svg" alt="Home" />
        &nbsp; Operations
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/package.svg" alt="Home" />
        &nbsp; Packages
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/trending-up.svg" alt="Home" />
        &nbsp; Analytics
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/pencil.svg" alt="Home" />
        &nbsp; Wiki
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/scissors.svg" alt="Home" />
        &nbsp; Snippets
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/settings.svg" alt="Home" />
        &nbsp; Settings
      </span>
    </ListItem>
  </List>
</div>
