<script>
  import { List, ListItem, Text } from "fvscl";
</script>

<style>
  div {
    display: flex;
    border-bottom: var(--border-width-base) solid lightgray;
  }
</style>

<div>
  <Text fontSize="sm" secondary>superallan > FVSCL > &nbsp;</Text>
  <Text fontSize="sm">
    <strong>Details</strong>
  </Text>
</div>
