<style>
  table {
    border-collapse: collapse;
    font-size: var(--font-size-sm);
    border: var(--border-width-base) solid var(--color-border);
  }
  thead {
    background-color: var(--color-grey);
  }
  tr {
    border-bottom: var(--border-width-base) solid var(--color-border);
  }
  th {
    color: black;
    padding: var(--space--2);
  }
</style>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Commit</th>
      <th>Last update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>cypress</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>
    <tr>
      <td>src</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>
    <tr>
      <td>static</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>
    <tr>
      <td>README.md</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>
    <tr>
      <td>node_modules</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>
    <tr>
      <td>package.json</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>

    <tr>
      <td>__sapper__</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>
    <tr>
      <td>cypress.json</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>
    <tr>
      <td>package-lock.json</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>
    <tr>
      <td>rollup.config.js</td>
      <td>update some things</td>
      <td>1 day ago</td>
    </tr>

  </tbody>
</table>
