<script>
  import { List, ListItem, Input } from "fvscl";
</script>

<style>
  :root {
    --list-margin-top: var(--space--2);
    --list-margin-bottom: var(--space--2);
  }
  .wrapper {
    background: var(--color-purple);
    color: white;
    display: flex;
    justify-content: space-between;
  }
  .wrapper > :global(*) {
    align-items: center;
  }
  span {
    display: flex;
    align-content: flex-end;
  }
  img {
    height: var(--space-0);
    filter: invert(100%);
  }
  .search {
    --input-background-color: transparent;
    --input-border-radius: var(--space--2);
    --input-padding: 0;
    position: relative;
  }
  .search img {
    position: absolute;
    right: var(--space--2);
    transform: translateY(20%);
  }
</style>

<div class="wrapper">

  <List horizontal fontSize="sm" margin="top bottom" density="tight">
    <ListItem>
      🦊
      <strong>Gitlab</strong>
    </ListItem>
    <ListItem>
      <span>
        Projects &nbsp;
        <img src="icons/caret-down.svg" alt="Caret Down" />
      </span>
    </ListItem>
    <ListItem>
      <span>
        Groups &nbsp;
        <img src="icons/caret-down.svg" alt="Caret Down" />
      </span>
    </ListItem>
    <ListItem>
      <span>
        More &nbsp;
        <img src="icons/caret-down.svg" alt="Caret Down" />
      </span>
    </ListItem>
  </List>
  <List horizontal fontSize="sm" margin="top bottom" density="tight">
    <ListItem>
      <img src="icons/circle-plus.svg" alt="Plus" />
      <img src="icons/caret-down.svg" alt="Caret Down" />
    </ListItem>
    <ListItem>
      <div class="search">
        <img src="icons/search.svg" alt="Search" />
        <Input />
      </div>
    </ListItem>
    <ListItem>
      <img src="icons/file-shredder.svg" alt="Issues" />
    </ListItem>
    <ListItem>
      <img src="icons/git-merge.svg" alt="Merge" />
    </ListItem>
    <ListItem>
      <img src="icons/checkbox.svg" alt="Check" />
    </ListItem>
    <ListItem>
      <img src="icons/help.svg" alt="Help" />
      <img src="icons/caret-down.svg" alt="Caret Down" />
    </ListItem>
    <ListItem>
      <img src="icons/user.svg" alt="User" />
    </ListItem>
  </List>
</div>
