<script>
  import { Text, Heading } from "fvscl";
</script>

<style>
  .wrapper {
    background: var(--color-grey);
    padding: var(--gap);
    border: var(--border-width-base) solid var(--color-border);
    display: flex;
    align-items: center;
  }
  .user {
    height: var(--space-5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: var(--space-5);
    margin-right: var(--gap);
    border-radius: 100%;
  }
</style>

<div class="wrapper">
  <div class="user">
    <img src="icons/user.svg" alt="User" />
  </div>
  <div class="details">
    <Heading level="6">Updates and that</Heading>
    <Text fontSize="sm" margin="none">
      <strong>Allan Corbett</strong>
      &nbsp; authored 16 minutes ago
    </Text>
  </div>
</div>
