<script>
  import { List, ListItem, Grid, Text, Input, Heading } from "fvscl";
</script>

<style>
  .wrapper {
    display: flex;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--space-5);
    width: var(--space-5);
    background-color: var(--color-project);
    margin-right: var(--space-0);
    border-radius: var(--border-radius-base);
  }
  .details {
    grid-area: details;
  }
  span {
    display: flex;
    align-items: center;
  }
  img {
    height: var(--font-size-sm);
  }
  .progress {
    display: grid;
    height: var(--border-width-chunky);
    grid-template-columns: 7fr 2fr 1fr;
  }
  .red {
    background-color: #dc3545;
  }
  .yellow {
    background-color: #ffc107;
  }
  .purple {
    background-color: #6d49cb;
  }
</style>

<Grid>
  <div class="wrapper">
    <div class="logo">F</div>
    <div class="details">
      <Heading level="5">FVSCL</Heading>
      <Text fontSize="sm" margin="none" secondary>Project ID: 17667035</Text>
    </div>
  </div>
  <List horizontal fontSize="sm" margin="none" density="tight">
    <ListItem>
      <span>
        <img src="icons/git-commit.svg" alt="Caret Down" />
        &nbsp; 66 Commits
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/git-branch.svg" alt="Caret Down" />
        &nbsp; 13 Branch
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/tag.svg" alt="Caret Down" />
        &nbsp; 2 Tags
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/file.svg" alt="Caret Down" />
        &nbsp;
        <strong>2Mb</strong>
        &nbsp;Files
      </span>
    </ListItem>
    <ListItem>
      <span>
        <img src="icons/server.svg" alt="Caret Down" />
        &nbsp;
        <strong>78Mb</strong>
        &nbsp;Storage
      </span>
    </ListItem>
  </List>
  <Text margin="none">
    An experiment in Fluid Visual Scaling for a Component Library type thingy
    using CSS Variables.
  </Text>
  <div class="progress">
    <div class="red" />
    <div class="yellow" />
    <div class="purple" />
  </div>
</Grid>
